/.gradle
/.idea
/out
/build
*.iml
*.ipr
*.iws
!/.idea/workspace.xml
/backend/build/
backend/build/distributions/
backend/build/kotlin/backend001SNAPSHOTjar-classes.txt
backend/build/kotlin/backend002SNAPSHOTjar-classes.txt
backend/build/kotlin/backend003SNAPSHOTjar-classes.txt
backend/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab_i
backend/build/kotlin/compileTestKotlin/caches-jvm/lookups/id-to-file.tab_i.len
backend/build/libs/
backend/build/scripts/
backend/build/tmp/
backend/src/main/java/
backend/src/test/java/
backend/src/test/resources/
